.search-bar-width {
  width: 50% !important;
  background-color: #252836 !important;
  caret-color: white;
  border: #252836;
}
.search-bar-width::placeholder {
  color: white !important;
}

.meal-scroll-container {
  overflow-y: auto;
  max-height: 100vh;
}

.meal-category-container {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #393c49;
}
